# ---------------[ Unity generated ]------------------ #
Temp/
Obj/
UnityGenerated/
Library/
Build/
ZZTrash/
 
# ----[ Visual Studio / MonoDevelop generated ]------- #
 
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?

ehthumbs.db
Thumbs.db
Assets/CommanUtility.meta
Assets/MainApp.meta
Assets/MainApp/Graphics.meta
Assets/MainApp/Prefabs.meta
Assets/MainApp/Scripts.meta
Assets/MiniGames/Graphics.meta
